{% extends 'base.html' %}
{% load static %}
{% block content %}

<h5>Информация о продукте</h5>


<div class="row">
    <div class="col-4">
        {% if not product.image %}
            <p> <img src="{% static "default_img/Cat.jpeg" %}" class="img-fluid" alt="pic"> </p>
        {% else %}
            <p><img src="{{ product.image.url }}" class="img-fluid" alt="pic"></p> 
        {% endif %}
        <h5>Наименование:</h5>
        <p>{{product.name}}</p>
        <h5>Описание:</h5>
        <p>{{product.description}}</p>
        <h5>Категория:</h5>
        <p> {{product.get_category_display}} </p>
        <p>Средняя оценка: {{total}}</p>

        <div class="row my-2">
        {% if perms.review_app.delete_product %}
            <a href="{% url 'delete_product' product.id %}" class="btn btn-primary">Удалить</a>
            <hr>
        {% endif %}
        {% if perms.review_app.change_product %}
            <a href="{% url 'edit_product' product.id %}" class="btn btn-secondary">Редактировать</a>
        {% endif %}
        </div>

        <hr>

        <h5>Отзывы</h5>
        <hr>
        {% for item in reviews %}
            <p>Автор: <a href="{% url 'user_page' user.id %} ">{{item.author}} </a></p>
            <p>{{item.text}}</p>
            <p>Email: {{item.author.email}} </p>
            <p>Rating: {{item.rating}} </p>
            {% if user.is_authenticated %}
                {% if perms.review.app.change_review or item.author == request.user %}
                <a href="{% url 'update_review' item.id %} " class="btn btn-secondary">Редактировать отзыв</a>
                {% endif %}
                {% if perms.review.app.delete_review or item.author == request.user %}
                <a href="{% url 'delete_review' item.id %}" class="btn btn-primary">Удалить</a>
                {% endif %}
            {% endif %}
            <hr>
        {% endfor %}
        {% if user.is_authenticated %}
            <a href="{% url 'add_review' product.pk %} " class="btn btn-primary">Добавить отзыв</a>
        {% endif %}

    </div>
</div>


{% endblock %}
