{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-10">
    {% if is_paginated %}
    {% include 'partial/pagination.html' %}
    {% endif %}
  </div>
</div>

{% for product in products %}
<div class="card m-3" style="max-width: 720px;">
    <div class="row justify-content-center g-0">
      <div class="col-3">
        {% if not product.image %}
        <a href="{% url 'display_product' product.id %}"><img src="{% static "default_img/Cat.jpeg" %}" class="img-thumbnail rounded my-4" alt="product_pic" style="width: 300px; height: 150px;"></a>
        {% else %}
        <a href="{% url 'display_product' product.id %}"><img src="{{ product.image.url }}" class="img-thumbnail rounded my-4" alt="product_pic" style="width: 300px; height: 150px;"></a>
        {% endif %}
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          {% for choice in choices %}
            {% if product.category == choice.0 %}
              <p class="card-text">{{choice.1}}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="btns mx-4">

        </div>

      </div>
    </div>
  </div>
  {% endfor %}


{% endblock %}